:root{
 --grid-cols: 1;
 --grid-rows: 1;
 --blue: rgb(109, 160, 255);
}

*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(221, 221, 221);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


#grid-container{
    display: grid;
    height: 600px;
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-item{
    background-color: white;
}

#button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 20px;
}

button{
    margin: 0 2rem;
    text-align: center;
    border-radius: 10px;
    border: 3px solid black;
    background-color: transparent;
    color: black;
    width: 100px;
    height: 35px;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

input{
    width: 250px;
    margin: 0 1rem;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    font-size: 20px;
}